@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h2 {
    @apply text-2xl md:text-3xl font-semibold;
  }
  ul {
    @apply list-disc pl-4;
  }
  ol {
    @apply list-decimal pl-6;
  }
  img {
    @apply shadow-md max-w-md mx-auto w-full;
  }
  .shadow-notepad {
    box-shadow: 6px 6px 6px -6px rgba(0, 0, 0, 0.1), 6px 6px 6px -6px rgba(0, 0, 0, 0.1);
  }
  .notepad-hover:hover {
    transform: perspective(2000px) rotateX(-10deg) skewX(-10deg);
  }
  .notepad-detail * {
    line-height: 46px !important;
  }
}
